# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python cache and environment files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.env
.venv
env/
venv/

# Logs and temporary files
*.log
*.tmp
*.swp

# IDE settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
